@import "./utils/vars";
@import './utils/common-properties';

// Загальнні стилі
.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	font-family: $secondary-font;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: $accent-cl;
}

// Список соц-сетей
.soc-list {
	display: flex;
	gap: 10px;
	justify-content: center;
}

.soc-list__link {
	display: flex;
	width: 44px;
	height: 44px;
	justify-content: center;
	align-items: center;

	border-radius: 50%;
	transition: background-color $transition;

	&:hover,
	&:focus {
		background-color: $accent-cl;
	}
}

.soc-list__icon {
	transition: fill $transition;

	.soc-list__link:hover &,
	.soc-list__link:focus & {
		fill: #ffffff;
	}
}

.soc-list__icon--light-theam {
	fill: $soc-list__icon--light-theam;
}

.soc-list__icon--dark-theam {
	fill: #ffffff;
}

.soc-list__link--dark-theam {
	background-color: $soc-list__link--dark-theam;
}

// Кнопка
.button {
	display: block;
	min-width: 200px;
	min-height: 50px;
	margin: 0 auto;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	color: $wight-txt-cl;
	background-color: $accent-cl;
	user-select: none;

	transition: background-color $transition;
}

.button:hover,
.button:focus {
	background-color: #188CE8;
}

.title {
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 50px;
}

.current {
	position: relative;

	color: $accent-cl;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Header */
.header {
	border-bottom: 1px solid #ECECEC;
}

.header__container {
	display: flex;
	align-items: center;
}

.header__nav {
	display: flex;
	align-items: center;
}

.header__logo {
	margin-right: 93px;
}

.logo__wrap--black-color {
	color: #000000;
}

.header__list {
	display: flex;
	align-items: center;
}

.header__item {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.header__item:not(:last-child) {
	margin-right: 50px;
}

.header__link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	transition: color $transition;

	&:hover,
	&:focus {
		color: $accent-cl;
	}
}

.header__link.current::after {
	position: absolute;
	bottom: -1px;
	display: block;
	content: '';
	width: 100%;
	height: 4px;

	background-color: $accent-cl;
	border-radius: 2px;
}

.contacs {
	display: flex;
	margin-left: auto;
}

.contacs__item:not(:last-child) {
	margin-right: 50px;
}

.contacs__link {
	display: flex;
	align-items: center;

	color: $secondary-txt-cl;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	transition: color $transition;

	&:hover,
	&:focus {
		color: $accent-cl;
	}
}

.contacs__icon {
	margin-right: 10px;
	fill: currentColor;
}

/* !!!index.html */
/* Hero */
.hero {
	padding: 200px 0;
	width: 1600px;
	margin-left: auto;
	margin-right: auto;

	background-color: #C4C4C4;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-pic.jpg);
}

.main-title {
	width: 696px;
	margin: 0 auto 30px;

	color: $wight-txt-cl;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

/* Qualities */
.qualities {
	padding: 94px 0;
}

.qualities-container {
	display: flex;
	gap: 30px;
}

.qualities-item {
	width: 270px;
}

.bgc-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	margin-bottom: 30px;

	background-color: $light-bg-cl;
}

.qualities-title {
	margin-bottom: 10px;

	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.qualities-text {
	color: $secondary-txt-cl;

	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

/* Work */
.work {
	padding-bottom: 94px;
}

.work-list {
	display: flex;
}

.work-item:not(:last-child) {
	margin-right: 30px;
}

.work-item {
	position: relative;
}

.work-overlay {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: rgb(47, 48, 58, 0.8);
}

.work-text {
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: #FFFFFF;
}

/* Team */
.team {
	background-color: $light-bg-cl;
	padding: 94px 0;
}

.team-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.team-item {
	background-color: #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-wrapper {
	padding: 30px;
}

.team-title {
	margin-bottom: 10px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
}

.team-text {
	margin-bottom: 11px;

	color: $secondary-txt-cl;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
}



/* Clients */
.clients {
	padding: 94px 0;
}

.clients-list {
	display: flex;
	gap: 30px;
}

.clients-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 92px;

	border: 1px solid #AFB1B8;
	border-radius: 4px;

	transition: border-color $transition;
}

.clients-link:hover,
.clients-link:focus {
	border-color: $accent-cl;
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
	fill: $accent-cl;
}

.clients-icon {
	fill: #afb1b8;

	transition: fill $transition;
}

/*!!! portfolio.html */
/* Portfolio */
.portfolio {
	padding: 94px 0;
}

.filter {
	display: flex;
	margin-bottom: 50px;
	justify-content: center;
	gap: 8px;

	margin-left: auto;
	margin-right: auto;
}

.galary {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.filter-btn {
	padding: 6px 22px;

	background-color: $light-bg-cl;
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	letter-spacing: 0.03em;
	cursor: pointer;
	border-radius: 4px;
	border: 0;

	transition: color $transition,
		background-color $transition,
		box-shadow $transition;
}

.filter-btn:hover,
.filter-btn:focus {
	color: $wight-txt-cl;
	background-color: $accent-cl;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
		0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}

.galary-link {
	display: block;

	transition: box-shadow $transition;
}

.galary-link:hover,
.galary-link:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
		0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
}

.galary-item:hover .galary-overlay {
	transform: translateY(-100%);
}

.overlay-container {
	position: relative;

	overflow: hidden;
}

.galary-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 100%;
	left: 0;
	transition: transform $transition;

	padding: 63px 24px;

	font-size: 18px;
	line-height: 156%;
	letter-spacing: 0.03em;
	user-select: none;

	color: #FFFFFF;
	background-color: rgba(33, 150, 243, 0.9);
	;
}

.portfolio-wrapper {
	padding: 20px 24px;
	border-bottom: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
}

.portfolio-title {
	margin-bottom: 4px;

	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.portfolio-text {
	color: $secondary-txt-cl;

	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
}

/* Footer */
.footer {
	background-color: $dark-bg-cl;
	padding: 60px 0;
}

.footer__container {
	display: flex;
	align-items: baseline;
}

.footer__wrap {
	margin-right: 70px;
}

.footer__logo {
	display: block;
	margin-bottom: 20px;
}

.logo__wrap--white-color {
	color: $wight-txt-cl;
}

.address__item:not(:last-child) {
	margin-bottom: 9px;
}

.address__link {
	color: rgba(255, 255, 255, 0.6);
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	transition: color $transition;

	&:hover,
	&:focus {
		color: $accent-cl;
	}
}

.address__link--white-txt-cl {
	color: $wight-txt-cl;
}

.footer__title {
	margin-bottom: 20px;

	font-weight: 700;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #FFFFFF;
}

.subscribe-form {
	display: flex;
	gap: 12px;
	margin-left: auto;
}

.subscribe-form__input {
	padding: 0 16px;
	width: 358px;
	height: 50px;

	letter-spacing: 0.03em;
	color: $wight-txt-cl;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
}

.subscribe-form__input::placeholder {
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	user-select: none;
}

.subscribe-form__button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	align-self: flex-end;
}

.subscribe-form__icon {
	fill: $wight-txt-cl;
}

/* Модальне вікно */
.backdrop {
	position: fixed;
	top: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.2);
	opacity: 1;
	transition: opacity $transition, visibility $transition;
}

.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(1.1);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	transition: transform $transition, visibility $transition;

	width: 528px;
	height: 581px;
	padding-left: 35px;
	padding-right: 45px;
	padding-top: 37px;
	padding-bottom: 43px;

	background-color: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.modal__close-btn {
	position: absolute;
	right: 8px;
	top: 8px;

	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;

	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	background: #FFFFFF;
	cursor: pointer;
}

.modal__close-btn:hover .modal__close-icon,
.modal__close-btn:focus .modal__close-icon {
	fill: $accent-cl;
}

.modal__close-icon {
	height: 18px;
	width: 18px;
	transition: fill $transition;
}

.modal__title {
	margin-bottom: 30px;

	font-weight: 700;
	font-size: 20px;
	line-height: calc(23 / 20);
	letter-spacing: 0.03em;
	text-align: center;
}

.modal__wrap {
	position: relative;

	margin-bottom: 28px;
	display: block;
}

.modal__wrap--comment {
	margin-bottom: 20px;
}

.modal__wrap-agree {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

.modal__label {
	position: absolute;
	top: 50%;
	left: 40px;
	transform: translateY(-50%);

	font-size: 12px;
	line-height: calc(14 / 12);
	letter-spacing: 0.01em;
	color: var(--secondary-txt-cl);
	user-select: none;
	transition: transform $transition, color $transition;

	.modal__input:focus+& {
		color: $accent-cl;
	}

	.modal__input:focus+&,
	.modal__input:not(:placeholder-shown)+& {
		transform: translate(-40px, -40px);
	}

	.modal__input--comment:focus+&,
	.modal__input--comment:not(:placeholder-shown)+& {
		transform: translate(-16px, -35px);
	}
}

.modal__input--comment::placeholder {
	font-size: 12px;
	line-height: calc(14 / 12);
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
	transition: color $transition;
}

.modal__input--comment:not(:focus)::placeholder {
	color: transparent;
}

.modal__label--comment {
	top: 16px;
	left: 16px;
}

.modal__input {
	width: 100%;
	height: 40px;
	padding-left: 42px;
	padding-right: 10px;

	outline: transparent;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border-color $transition;
}

.modal__input::placeholder {
	user-select: none;
}

.modal__input--comment {
	resize: none;
	height: 120px;
	padding: 12px 16px;
}

.modal__icon {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
	transition: fill $transition;
}

.modal__input:focus~.modal__icon {
	fill: $accent-cl;
}

.modal__input:focus {
	border: 1px solid $accent-cl;
	border-radius: 4px;
}

.modal__icon-check {
	opacity: 0;
	transition: opacity $transition;
}

.modal__icon-uncheck {
	opacity: 1;
	transition: opacity $transition, fill $transition;
}

.modal__checkbox:checked+.modal__agree-icon>.modal__icon-check {
	opacity: 1;
}

.modal__checkbox:checked+.modal__agree-icon>.modal__icon-uncheck {
	opacity: 0;
}

.modal__agree-icon {
	margin-right: 8px;
}

.modal__checkbox-text {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: $secondary-txt-cl;
	user-select: none;
}

.modal__checkbox-link {
	text-decoration-line: underline;
	color: $accent-cl;
}

.modal__checkbox:focus+.modal__agree-icon .modal__icon-uncheck {
	fill: $accent-cl;
}

.modal__checkbox:hover+.modal__agree-icon .modal__icon-uncheck {
	fill: $accent-cl;
}